%h2 #{@user.user_name} さんのプロフィール
.card.mb-3
  .card-header= User.human_attribute_name :user_name
  .card-body= @user.user_name

%h2 レッスン履歴
= render 'lessons/list', {lessons: @lessons, columns: [:date_at, :teacher_name, :period_name, :category_name, current_user.teacher? ? :report : :feedback, :show]}

- if current_user == @user
  = link_to "アカウント編集", edit_user_registration_path, class: 'btn btn-primary'
  = link_to "クレジット情報", payments_card_path, class: 'btn btn-primary', data: {turbolinks: false}
